{% render 'product-template', product: product, section: section %}
<script type="text/javascript" src="{{ 'custom-variant-image-functionality.js' | asset_url }}" async="false"></script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "ignore-section-animation",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-product.info"
    },
    {
      "id": "product_image_aspect_ratio",
      "type": "select",
      "label": "t:sections.main-product.settings.product_image_aspect_ratio.label",
      "options": [
        {
          "value": "natural",
          "label": "t:sections.images.aspect_ratio.natural"
        },
        {
          "value": "portrait",
          "label": "t:sections.images.aspect_ratio.portrait_2_3"
        },
        {
          "value": "portrait_alt",
          "label": "t:sections.images.aspect_ratio.portrait_3_4"
        },
        {
          "value": "square",
          "label": "t:sections.images.aspect_ratio.square"
        },
        {
          "value": "landscape",
          "label": "t:sections.images.aspect_ratio.landscape_4_3"
        }
      ],
      "default": "square"
    },
    {
      "type": "select",
      "id": "media_fill_rule",
      "label": "t:sections.images.fill_rule.label",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.images.fill_rule.cover"
        },
        {
          "value": "contain",
          "label": "t:sections.images.fill_rule.contain"
        }
      ],
      "default": "contain"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.style_header.content"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:sections.colors.color_scheme.label",
      "options": [
        {
          "value": "color-main",
          "label": "t:sections.colors.color_scheme.main"
        },
        {
          "value": "color-main-inverted",
          "label": "t:sections.colors.color_scheme.main_inverted"
        },
        {
          "value": "color-accent",
          "label": "t:sections.colors.color_scheme.accent"
        },
        {
          "value": "color-accent-inverted",
          "label": "t:sections.colors.color_scheme.accent_inverted"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.settings.style_paragraph.content"
    },
    {
      "type": "color_background",
      "id": "section_bg",
      "label": "t:sections.main-product.settings.section_bg.label"
    },
    {
      "type": "color_background",
      "id": "media_col_bg",
      "label": "t:sections.main-product.settings.media_col_bg.label"
    },
    {
      "type": "color_background",
      "id": "content_col_bg",
      "label": "t:sections.main-product.settings.content_col_bg.label"
    },
    {
      "id" :"border_radius",
      "label": "t:sections.main-product.settings.container_border_radius.label",
      "type": "range",
      "unit": "px",
      "min": 0,
      "max": 80,
      "default": 0
    },
    {
      "type": "color",
      "id": "product_media_bg",
      "label": "t:sections.colors.media_bg.label",
      "default": "transparent"
    },
    {
      "id" :"media_border_radius",
      "label": "t:sections.main-product.settings.media_border_radius.label",
      "type": "range",
      "unit": "px",
      "min": 0,
      "max": 80,
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.headers.desktop_layout"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.settings.desktop_info.content"
    },
    {
      "type": "checkbox",
      "id": "enable_full_width",
      "label": "t:sections.layout.section_width.full_width",
      "default": true
    },
    {
      "id" :"sm-p",
      "label": "t:sections.layout.padding",
      "type": "range",
      "unit": "px",
      "min": 0,
      "max": 80,
      "default": 0
    },
    {
      "id": "media_col_width",
      "type": "select",
      "label": "t:sections.main-product.settings.media_col_width.label",
      "default": "medium",
      "options": [
        {
          "value": "narrow",
          "label": "t:sections.main-product.settings.media_col_width.options.narrow"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_col_width.options.medium"
        },
        {
          "value": "wide",
          "label": "t:sections.main-product.settings.media_col_width.options.wide"
        },
        {
          "value": "extra_wide",
          "label": "t:sections.main-product.settings.media_col_width.options.extra_wide"
        }
      ]
    },
    {
      "id": "media_layout",
      "type": "select",
      "label": "t:sections.main-product.settings.media_layout.label",
      "default": "one-column",
      "options": [
        {
          "value": "one-column",
          "label": "t:sections.main-product.settings.media_layout.options.one-column",
          "group": "t:sections.main-product.settings.media_layout.groups.grid"
        },
        {
          "value": "two-columns",
          "label": "t:sections.main-product.settings.media_layout.options.two-columns",
          "group": "t:sections.main-product.settings.media_layout.groups.grid"
        },
        {
          "value": "two-columns-stacked",
          "label": "t:sections.main-product.settings.media_layout.options.two-columns-stacked",
          "group": "t:sections.main-product.settings.media_layout.groups.grid"
        },
        {
          "value": "traditional-below-as-grid",
          "label": "t:sections.main-product.settings.media_layout.options.traditional-below-as-grid",
          "group": "t:sections.main-product.settings.media_layout.groups.traditional"
        },
        {
          "value": "traditional-below",
          "label": "t:sections.main-product.settings.media_layout.options.traditional-below",
          "group": "t:sections.main-product.settings.media_layout.groups.traditional"
        },
        {
          "value": "traditional-next-to",
          "label": "t:sections.main-product.settings.media_layout.options.traditional-next-to",
          "group": "t:sections.main-product.settings.media_layout.groups.traditional"
        },
        {
          "value": "traditional",
          "label": "t:sections.main-product.settings.media_layout.options.traditional-no-thumbnails",
          "group": "t:sections.main-product.settings.media_layout.groups.traditional"
        }
      ]
    },
    {
      "id" :"sm_media_gap",
      "label": "t:sections.main-product.settings.media_gap.label",
      "type": "range",
      "unit": "px",
      "min": 0,
      "max": 40,
      "default": 24
    },
    {
      "type": "range",
      "id": "md_padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "md_padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.headers.mobile_layout"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-product.settings.mobile_info.content"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_peek",
      "label": "t:sections.main-product.settings.slider_peek.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_thumbnails_sm_down",
      "label": "t:sections.main-product.settings.show_thumbnails.label",
      "default": false
    },
    {
      "id" :"media_gap",
      "label": "t:sections.main-product.settings.media_gap.label",
      "type": "range",
      "unit": "px",
      "min": 0,
      "max": 20,
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 160,
      "step": 8,
      "unit": "px",
      "label": "t:sections.layout.margin_bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "breadcrumb",
      "name": "breadcrumb"
    },
    {
      "type": "sibling_products",
      "name": "t:sections.blocks.sibling_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.sibling_products.info"
        },
        {
          "id": "variant_option_name",
          "type": "text",
          "label": "Variant option name",
          "info": "Use variant option name to display a title with variant value."
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Text block</p>",
          "label": "t:sections.inputs.text.text"
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "price",
      "name": "t:sections.blocks.price.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.blocks.quantity_selector.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "variant_picker",
      "name": "t:sections.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.blocks.variant_picker.picker_type.options.dropdown"
            },
            {
              "value": "button",
              "label": "t:sections.blocks.variant_picker.picker_type.options.buttons"
            }
          ],
          "default": "button",
          "label": "t:sections.blocks.variant_picker.picker_type.label"
        },
        {
          "type": "checkbox",
          "id": "cross_out_unavailable",
          "label": "t:sections.blocks.variant_picker.cross_out_unavailable.label",
          "default": false,
          "info": "t:sections.blocks.variant_picker.cross_out_unavailable.info"
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "inventory_status",
      "name": "t:sections.blocks.inventory_status.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.blocks.inventory_status.inventory_threshold.label",
          "default": 10,
          "min": 0,
          "max": 20,
          "step": 1
        },
        {
          "type": "checkbox",
          "id": "show_available_quantity",
          "label": "t:sections.blocks.inventory_status.show_available_quantity.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "inventory_transfers_enable",
          "label": "t:sections.blocks.inventory_status.inventory_transfers_enable.label",
          "info": "t:sections.blocks.inventory_status.inventory_transfers_enable.info",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.blocks.inventory_status.additional_descriptions.header"
        },
        {
          "type": "paragraph",
          "content": "t:sections.blocks.inventory_status.additional_descriptions.info_paragraph"
        },
        {
          "type": "text",
          "id": "additional__in_stock",
          "label": "t:sections.blocks.inventory_status.additional_descriptions.text_inputs.additional__in_stock"
        },
        {
          "type": "text",
          "id": "additional__few_on_stock",
          "label": "t:sections.blocks.inventory_status.additional_descriptions.text_inputs.additional__few_on_stock"
        },
        {
          "type": "text",
          "id": "additional__out_of_stock",
          "label": "t:sections.blocks.inventory_status.additional_descriptions.text_inputs.additional__out_of_stock"
        },
        {
          "type": "text",
          "id": "additional__out_of_stock_continue_selling",
          "label": "t:sections.blocks.inventory_status.additional_descriptions.text_inputs.additional__out_of_stock_continue_selling"
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.blocks.buy_buttons.show_dynamic_checkout.label",
          "info": "t:sections.blocks.buy_buttons.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.blocks.buy_buttons.show_gift_card_recipient.label",
          "info": "t:sections.blocks.buy_buttons.show_gift_card_recipient.info"
        },
        {
          "type": "text",
          "id": "add_multipliers",
          "label": "t:sections.blocks.buy_buttons.add_multipliers.label",
          "info": "t:sections.blocks.buy_buttons.add_multipliers.info",
          "placeholder": "6,12,24"
        },
        {
          "type": "select",
          "id": "add_multipliers_layout",
          "default": "single-line",
          "label": "t:sections.blocks.buy_buttons.add_multipliers_layout.label",
          "options": [
            {
              "value": "single-line",
              "label": "t:sections.blocks.buy_buttons.add_multipliers_layout.options.single_line"
            },
            {
              "value": "stacked",
              "label": "t:sections.blocks.buy_buttons.add_multipliers_layout.options.stacked"
            }
          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.blocks.product_description.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_collapsible",
          "label": "t:sections.blocks.product_description.enable_collapsible",
          "info": "t:sections.blocks.product_description.info",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "checkbox",
          "id": "hide_on_desktop",
          "label": "t:sections.blocks.share.hide_on_desktop.label",
          "default": true
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "similar_collections",
      "name": "t:sections.blocks.similar_collections.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Similar collection",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "textarea",
          "id": "to_exclude",
          "label": "t:sections.blocks.similar_collections.to_exclude.label",
          "info": "t:sections.blocks.similar_collections.to_exclude.info"
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 32,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.blocks.custom_liquid.custom_liquid.label"
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "pickup_availability",
      "name": "t:sections.blocks.pickup_availability.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.pickup_availability.info"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Collapsible row",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.inputs.text.content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.inputs.page.label"
        },
        {
          "type": "checkbox",
          "id": "open_as_drawer",
          "label": "t:sections.blocks.collapsible_tab.open_as_drawer.label",
          "default": false
        },
        {
          "type": "select",
          "id": "icon",
          "default": "icon-caret__right",
          "label": "t:sections.blocks.collapsible_tab.icon.label",
          "options": [
            {
              "value": "none",
              "label": "t:sections.blocks.collapsible_tab.icon.options.none"
            },
            {
              "value": "icon-caret__right",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-caret__right"
            },
            {
              "value": "icon-truck",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-truck"
            },
            {
              "value": "icon-package",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-package"
            },
            {
              "value": "icon-feather",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-feather"
            },
            {
              "value": "icon-gift",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-gift"
            },
            {
              "value": "icon-map-pin",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-map-pin"
            },
            {
              "value": "icon-zap",
              "label": "t:sections.blocks.collapsible_tab.icon.options.icon-zap"
            }

          ]
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "icons",
      "name": "t:sections.blocks.icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.icons.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title"
        },
        {
          "id": "icons_per_row",
          "type": "range",
          "label": "t:sections.blocks.icons.icons_per_row",
          "default": 3,
          "min": 1,
          "max": 6,
          "step": 1
        },
        {
          "type": "range",
          "id": "grid_gap",
          "label": "t:sections.layout.grid_gap",
          "unit": "px",
          "min": 0,
          "max": 40,
          "default": 3
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        },
        {
          "type": "header",
          "content": "t:sections.blocks.icons.header_for_grid_images"
        },
        {
          "type": "image_picker",
          "id": "first_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "second_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "third_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "fourth_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "fifth_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "sixth_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "seventh_image",
          "label": "t:sections.inputs.image_picker.image"
        },
        {
          "type": "image_picker",
          "id": "eight_image",
          "label": "t:sections.inputs.image_picker.image"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.blocks.complementary_products.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.complementary_products.info"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Complementary products",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "header",
          "content": "t:sections.headers.layout"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 32,
          "min": 0,
          "max": 48,
          "step": 4
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.blocks.complementary_products.product_list_limit"
        }
      ]
    },
    {
      "type": "sticky_buy_bar",
      "name": "t:sections.blocks.sticky_buy_bar.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.sticky_buy_bar.info"
        },
        {
          "type": "range",
          "id": "border_radius",
          "label": "t:settings_schema.aesthetics.settings.border_radius.label",
          "default": 0,
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px"
        }
      ]
    },
    {
      "type": "upsell_products",
      "name": "t:sections.blocks.upsell_products.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.blocks.upsell_products.info"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.inputs.text.title"
        },
        {
          "type": "product_list",
          "id": "upsell_products",
          "label": "t:sections.blocks.upsell_products.products_label"
        },
        {
          "id": "margin_top",
          "type": "range",
          "label": "t:sections.layout.margin_top",
          "info": "t:sections.blocks.margin_info",
          "unit": "px",
          "default": 8,
          "min": 0,
          "max": 48,
          "step": 4
        }
      ]
    }
  ]
}
{% endschema %}