
/* Section in animation */
html:not(.theme-editor) main .shopify-section:nth-child(n+2):not(.ignore-section-animation):not(.anim-custom-child) {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
main .section-anim-in:not(.ignore-section-animation):not(.anim-custom-child) {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
main .section-divider:nth-child(-n+2) {
  opacity: 1 !important;
  transform: translateY(0) !important; 
}

/* NOTE! Can't use section level animation on section containing modals or drawers */
/* Instead we animate the custom child element in the section to achieve similar animation */
html:not(.theme-editor) main .shopify-section.anim-custom-child:nth-child(n+2) .custom-child-for-animation {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
main .section-anim-in.anim-custom-child .custom-child-for-animation {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

@media (prefers-reduced-motion) {
  main .shopify-section:nth-child(n+2) {
    transition: opacity 0.8s ease-in-out, opacity 0.8s ease-in-out;
  }
}

.hotspot.animated:before {
 animation: hotspot-blink 2s ease-in-out infinite both; 
}

.hotspot.animated:nth-child(2):before { animation-delay: 0.2s }
.hotspot.animated:nth-child(3):before { animation-delay: 0.4s }
.hotspot.animated:nth-child(4):before { animation-delay: 0.6s }
.hotspot.animated:nth-child(5):before { animation-delay: 0.8s }
.hotspot.animated:nth-child(6):before { animation-delay: 1.0s }


/* Keyframes - Heartbeat */
@keyframes hotspot-blink {
  0% {
    opacity: 1;
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.4);
    opacity: 0;
  }
  100% {
    transform: scale(1.4);
    opacity: 0; 
  }
}
