/* Form Elements */
.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin: 0 0 1.2rem 0;
  max-width: 37rem;
  min-width: fit-content;
  border: none;
}

.variant-radios,
.variant-selects {
  display: block;
}

.product-form__input--dropdown {
  margin-bottom: 1.6rem;
}

.product-block .form__label {
  display: block;
  padding-left: 0;
  margin-bottom: 4px;
}

.product-form__input label:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--primary-background)),
    0 0 0 0.5rem rgba(var(--primary-foreground), 0.55);
}

.product-form__input .select {
  position: relative;
}

.product-form__input .select select {
  padding-right: 4.8rem;
  padding-top: 2.8rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.product-form__input .select svg {
  top: 50%;
  right: 0;
  position: absolute;
  pointer-events: none;
  transform: translate(50%, -50%);
  width: 1.8rem !important;
  height: 1.8rem !important;
  right: 2.8rem !important;
}

.product-form__submit {
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
}

.product-form__submit .loading-overlay__spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
}

.product-form__submit .loading-overlay__spinner svg {
  width: 1.8rem;
  height: 1.8rem;
}

.product-form__input .swatch.has-image {
  background-color: var(--primary-background) !important;
}

.product-form__input label.swatch.has-image img {
  padding: var(--single-swatch-selection-border);
}

.product-form__buttons .product-form__submit {
  min-height: 48px;
}

.product-form__buttons .shopify-payment-button__button {
  border-radius: var(--button-radius) !important;
  min-height: 48px;
  overflow: hidden;
}

.shopify-payment-button__more-options {
  padding: 0 !important;
  border: 0 !important;
}

.shopify-payment-button__button + .shopify-payment-button__button--hidden {
  display: none !important;
}

.product-form__error-message-wrapper .icon-error {
  width: 18px;
}

.product-form__error-message-wrapper .product-form__error-message {
  font-size: 1.4rem;
}

.product-form__error-message-wrapper {
  gap: 8px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background: var(--error);
  color: #FFF;
  padding: 8px 12px;
  border-radius: 4px;
}

/* Quantity add */
.js .btn--add-multiplier {
  padding: 0 1.2rem !important;
  height: 100%;
}

.js .with-add-multipliers {
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
}

.js .with-add-multipliers.single-line .btn {
  border-radius: 0 !important;
}

.js .with-add-multipliers.single-line .btn:first-child {
  border-top-left-radius: var(--button-radius) !important;
  border-bottom-left-radius: var(--button-radius) !important;
}

.js .with-add-multipliers.single-line *:last-child .btn {
  border-top-right-radius: var(--button-radius) !important;
  border-bottom-right-radius: var(--button-radius) !important;
}

.js .with-add-multipliers.stacked {
  flex-wrap: wrap;
  gap: 8px;
}

.js .with-add-multipliers.stacked add-multiplier {
  flex-grow: 1;
}

.js .with-add-multipliers.stacked .btn--add-multiplier {
  padding: var(--button-padding) !important;
  padding-left: 1.2rem !important;
  padding-right: 1.2rem !important;
  width: 100%;
}

/* Recipient form */
.recipient-form {
  /* (2.88[line-height] - 1.6rem) / 2 */
  --recipient-checkbox-margin-top: 0.64rem;

  display: block;
  position: relative;
  max-width: 44rem;
  margin-bottom: 2.5rem;
}

.recipient-form-field-label {
  margin: 0.6rem 0;
}

.recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between;
}

.recipient-checkbox {
  flex-grow: 1;
  font-size: 1.6rem;
  display: flex;
  word-break: break-word;
  align-items: flex-start;
  max-width: inherit;
  position: relative;
  cursor: pointer;
}

.no-js .recipient-checkbox {
  display: none;
}

.recipient-form > input[type='checkbox'] {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  margin: var(--recipient-checkbox-margin-top) 0;
  top: 0;
  left: 0;
  z-index: -1;
  appearance: none;
  -webkit-appearance: none;
}

.recipient-fields__field {
  margin: 0 0 2rem 0;
}

.recipient-fields .field__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100% - 3.5rem);
  overflow: hidden;
}

.recipient-checkbox > svg {
  margin-top: var(--recipient-checkbox-margin-top);
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.recipient-form .icon-checkmark {
  visibility: hidden;
  position: absolute;
  left: 0.28rem;
  z-index: 5;
  top: 0.4rem;
}

.recipient-form > input[type='checkbox']:checked + label .icon-checkmark {
  visibility: visible;
}

.js .recipient-fields {
  display: none;
}

.recipient-fields hr {
  margin: 1.6rem auto;
}

.recipient-form > input[type='checkbox']:checked ~ .recipient-fields {
  display: block;
}

.recipient-form > input[type='checkbox']:not(:checked, :disabled) ~ .recipient-fields,
.recipient-email-label {
  display: none;
}

.js .recipient-email-label.required,
.no-js .recipient-email-label.optional {
  display: inline;
}

.recipient-form ul {
  padding-left: 4.4rem;
  text-align: left;
}

.recipient-form ul a {
  display: inline;
}

.recipient-form .error-message::first-letter {
  text-transform: capitalize;
}

.product-page__size-guide {
  margin-top: 10px;
  margin-bottom: 15px;
}

a.size-link {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

/* Nasconde visivamente l'input radio ma lo mantiene funzionale */
.product-form__input input[type='radio'] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

/* Stili di base per il pulsante della variante - stato predefinito */
.product-form__input input[type='radio'] + label {
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  display: inline-block;
  margin: 5px 1px 2px 0;
  padding: 8px 12px;
  font-size: 1.4rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  position: relative;
  min-width: 44px;
  transition: border 0.16s ease-in-out, color 0.16s ease-in-out, opacity 0.16s ease-in-out;
}

/* Effetti al passaggio del mouse */
.product-form__input input[type='radio'] + label:hover {
  border-color: var(--primary-foreground);
}

/* Stile per il pulsante della variante di colore quando è selezionato */
.product-form__input input[type='radio']:checked + label.swatch::after {
  content: "";
  position: absolute;
  top: -4px; 
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--primary-foreground);
  border-radius: 50%; /* Mantiene il bordo circolare per i colori */
  pointer-events: none; /* Evita interferenze con il click */
}

/* Stile per il pulsante della variante di taglia quando è selezionato */
.product-form__input input[type='radio']:checked + label:not(.swatch)::after {
  content: "";
  position: absolute;
  top: -4px; 
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--primary-foreground);
  border-radius: 0; /* Imposta il bordo quadrato per le taglie */
  pointer-events: none; /* Evita interferenze con il click */
}

/* Stile per i pulsanti delle taglie non disponibili */
.product-form__input input[type='radio'].disabled + label:not(.swatch) {
  background-color: var(--primary-variant-disabled);
  opacity: 0.65;
  position: relative;
}

/* Aggiunge l'effetto barrato solo se l'etichetta non ha la classe 'swatch' */
.product-form__input input[type='radio'].disabled + label:not(.swatch)::before {
  display: block;
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: rotate(-45deg);
  border-left: solid 1px var(--primary-foreground);
}

/* Bordi quadrati per taglie disabilitate quando selezionate */
.product-form__input input[type='radio'].disabled:checked + label:not(.swatch)::after {
  content: "";
  position: absolute;
  top: -4px; 
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--primary-foreground);
  border-radius: 0; /* Imposta il bordo quadrato per le taglie disabilitate selezionate */
  pointer-events: none; /* Evita interferenze con il click */
}

/* Rimuove bordi aggiuntivi per i pulsanti delle taglie non disponibili */
.product-form__input input[type='radio'].disabled + label:not(.swatch)::after {
  content: none;
}

/* Modo colori forzati (accessibilità) */
@media screen and (forced-colors: active) {
  .product-form__input input[type='radio']:checked + label {
    text-decoration: underline;
  }
}

/* Stile per il pulsante disabilitato */
[data-cross-unavailable="true"] .product-form__input input[type='radio'].disabled + label {
  background-color: var(--primary-variant-disabled);
  opacity: 0.65;
}
