.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--card-border-radius);
  color: var(--card-text-color);
  background: var(--card-bg-color);
}
.card-media {
  position: relative;
  overflow: hidden;
}
.card-body {
  padding: var(--card-body-padding);
}

.card-media-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: var(--card-body-padding);
}

.card--horizontal {
  flex-direction: row;
}
.card--horizontal > * {
  flex: 0 0 50%;
}

/* Second image on hover */
.card-hover-images {
  position: relative;
  overflow: hidden;
}
.card-hover-images > *:last-child {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (hover: hover) {
  .card .media > * {
    transition: transform 0.4s ease-in-out;
  }
  .card:hover .media > * {
    transform: scale(1.1);
  }
  .card.on-hover:hover .card-hover-images > *:first-child > * {
    opacity: 0;
  }
  .card.on-hover:hover .card-hover-images > *:last-child {
    opacity: 1;
  }
}

/* Color */
.card.bg-gradient {
  --card-bg-color: var(--card-bg-gradient)
}
.card.bg-transparent {
  --card-bg-color: transparent;
}

/* FEATURES / Quick buy */
.card quick-buy {
  position: absolute;
  bottom: -40px;
  left: 20px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in;
  width: calc(100% - 40px);
}
.card quick-buy .btn {
  display: block !important;
}
@media (hover:hover) {
  .card:hover quick-buy {
    opacity: 1;
    pointer-events: auto;
    bottom: 16px;
  }
}
.quick-buy_icon {
  display: none;
  pointer-events: none;
}

/* TYPE / Traditional */
.card--traditional {
  background: transparent;
  color: inherit;
}
.card--traditional .card-media {
  border-radius: var(--card-border-radius);
  background: var(--card-bg-color);
}
.card--traditional .card-body {
  padding: var(--card-body-padding) 0; 
}

/* TYPE / Banner */
.card--banner .card-media {
  height: 100%;
  width: 100%;
  position: absolute;
}
.card--banner .media,
.card--banner .media img {
  height: 100%;
}
.card--banner .video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .card--banner.sm-down-all-cols .card-media {
    position: relative;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .card--banner.sm-md-all-cols .card-media {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .card--banner.md-all-cols .card-media {
    position: relative;
  }
}

/* TYPE / Collection */
.card--collection .badges {
  position:absolute;
  gap:1rem;
  top:var(--card-body-padding);
}
.card--collection .vertical-top .badges {
  top: auto;
  bottom:var(--card-body-padding);
}

/* Hotspot */
.card--default:not(.layout--thumbnail) .hotspot {
  position: absolute !important;
  top: 20px;
  right: 20px;
}

/* TYPE / Product */
.card--product.content--none .card-body,
.card--product.content--name-only .card-body > *:not(.card-title),
.card--product.content--name-and-price .card-body > *:not(.card-title, .price) {
  display: none;
}

/* LAYOUT / Thumbnail */
.layout--thumbnail {
  --thumbnail-width: 90px;
  display: grid;
  grid-template-columns: var(--thumbnail-width) auto auto;
  align-items: center;
}
.layout--thumbnail .card-body {
  text-align: left;
  padding: min(16px, var(--card-body-padding));
}
.layout--thumbnail .flex {
  justify-content: flex-start !important;
}
.layout--thumbnail .card-media-overlay,
.layout--thumbnail .card-vendor,
.layout--thumbnail .swatches {
  display: none;
}
.layout--thumbnail quick-buy {
  position: relative;
  align-self: center;
  left: auto !important;
  bottom: auto !important;
  opacity: 1;
  width: auto;
  margin-left: auto;
  margin-right: 16px;
  pointer-events: auto;
}
.layout--thumbnail quick-buy .btn {
  padding: 10px !important;
  width: 44px;
  height: 44px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
.layout--thumbnail .quick-buy_text {
  display: none;
}
.layout--thumbnail .quick-buy_icon {
  display: flex;
}
.layout--thumbnail .hotspot {
  margin-left: auto;
  margin-right: 16px;
  width: 30px;
  height: 30px;
}

.card-body .badges {
  margin-bottom: 8px;
  display: none;
}
.layout--thumbnail .card-body .badges {
  display: flex;
}
.card-body ul {
  list-style: inside disc;
}
.card-body ul li::marker {
  margin-right: 4px;
}

.card-media *{
  transform: scale(1) !important;
}

@media only screen and (max-width: 767px) {
  .sm-down-layout--thumbnail {
    --thumbnail-width: 90px;
    display: grid;
    grid-template-columns: var(--thumbnail-width) auto auto;
    align-items: center;
  }
  .sm-down-layout--thumbnail .card-body {
    text-align: left;
    padding: min(16px, var(--card-body-padding));
  }
  .sm-down-layout--thumbnail .flex {
    justify-content: flex-start !important;
  }
  .sm-down-layout--thumbnail .card-media-overlay,
  .sm-down-layout--thumbnail .card-vendor,
  .sm-down-layout--thumbnail .swatches {
    display: none;
  }
  .sm-down-layout--thumbnail quick-buy {
    position: relative;
    align-self: center;
    left: auto !important;
    bottom: auto !important;
    opacity: 1;
    width: auto;
    margin-left: auto;
    margin-right: 16px;
  }
  .sm-down-layout--thumbnail quick-buy .btn {
    padding: 10px !important;
    width: 44px;
    height: 44px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .sm-down-layout--thumbnail .quick-buy_text {
    display: none;
  }
  .sm-down-layout--thumbnail .quick-buy_icon {
    display: flex;
  }
  .sm-down-layout--thumbnail .card-body .badges {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .sm-layout--thumbnail {
    --thumbnail-width: 90px;
    display: grid;
    grid-template-columns: var(--thumbnail-width) auto auto;
    align-items: center;
  }
  .sm-layout--thumbnail .card-body {
    text-align: left;
    padding: min(16px, var(--card-body-padding));
  }
  .sm-layout--thumbnail .flex {
    justify-content: flex-start !important;
  }
  .sm-layout--thumbnail .card-media-overlay,
  .sm-layout--thumbnail .card-vendor,
  .sm-layout--thumbnail .swatches {
    display: none;
  }
  .sm-layout--thumbnail quick-buy {
    position: relative;
    align-self: center;
    left: auto !important;
    bottom: auto !important;
    opacity: 1;
    width: auto;
    margin-left: auto;
    margin-right: 16px;
  }
  .sm-layout--thumbnail quick-buy .btn {
    padding: 10px !important;
    width: 44px;
    height: 44px;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .sm-layout--thumbnail .quick-buy_text {
    display: none;
  }
  .sm-layout--thumbnail .quick-buy_icon {
    display: flex;
  }
  .sm-layout--thumbnail .card-body .badges {
    display: flex;
  }
}