.disclosure {
  position: relative;
}

.disclosure__list-wrapper {
  color: var(--footer-background);
  background: var(--footer-foreground);
  width: 100%;
  padding: 16px;
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  transform: translateY(-1rem);
  z-index: 2;
}

.disclosure__list {
  position: relative;
  overflow-y: auto;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  scroll-padding: 0.5rem 0;
  max-height: 19rem;
  max-width: 100%;
  width: max-content;
}

.disclosure__item {
  position: relative;
}
