/* Modal properties */



.modal {
  --modal-level: 9999;
  --modal-max-size: 500px;
  --modal-size: calc(100% - calc(var(--gutter) * 2));

  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  position: relative;
  z-index: var(--modal-level);
  width: var(--modal-size);
  max-width: var(--modal-max-size);
  padding: var(--modal-spacing);
  border-radius: var(--modal-border-radius);
  background-color: var(--modals-background);
  color: var(--modals-foreground);
  opacity: 0;
  transition: all .3s ease;
  transition-delay: .2s;
  max-height: 90vh;
  overflow-y: scroll;
}

.modal-dialog--large {
  height: min(80vh, 760px);
}

.modal:target,
.modal.is-open {
  visibility: visible;
  opacity: 1;
  z-index: var(--modal-level);
}

.modal .modal-header {
  padding: var(--gutter);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .modal-body {
  padding: 0 var(--gutter) var(--gutter) var(--gutter);
}

.modal .modal-body > * + * {
  --spacing: var(--gutter);
  margin-top: var(--spacing);
}

.modal:target .modal-dialog,
.modal.is-open .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-close {
  display: grid;
  place-content: center;
  min-width: 4.8rem;
  min-height: 4.8rem;
}
.modal-close.pos--absolute {
  position: absolute;
  top: var(--gutter);
  right: var(--gutter);
  z-index: 2;
}

/* Set opacity for backdrop when modal is open */
.modal:target > .page-overlay,
.modal.is-open > .page-overlay {
  opacity: 1;
}

/* Modal with slider */
.modal--slider .gridy-slider {
  z-index: var(--modal-level);
  width: 100%;
}
.modal--slider .gridy-track {
  --slide-items-width: 100%;
  --track-padding: var(--container-margin);
  align-items: center;
  padding-left: max(var(--track-padding), var(--container-margin));
  padding-right: max(var(--track-padding), var(--container-margin));
  scroll-padding-inline: calc(var(--track-padding));
}
.modal--slider .gridy-slider .modal-dialog {
  z-index: auto;
  width: auto;
  max-width: initial;
  scroll-snap-align: center;
}
.modal--slider .modal-dialog:before {
  content: '';
  background-color: var(--modals-and-drawers-overlay-background);
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 2;
}
.modal--slider .modal-dialog:not(.active):before {
  opacity: 1;
}

.modal-grid {
  height: inherit;
}
.modal--slider .modal-close {
  background-color: var(--modals-background);
  border-radius: 50%;
  z-index: 1;
}
.modal-grid-text-column {

}

@media only screen and (min-width: 768px) {
  .modal--slider .gridy-slider:hover .gridy-arrows {
    width: 96%;
    left: 2%;
  }
}

@media only screen and (min-width: 1024px) {
  .modal--slider .gridy-track {
    --track-padding: calc((100% - (var(--max-col-width) * 10 + var(--gutter) * 9))/2);
  }
  .modal-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: inherit;
  }
  .modal-grid-media-column {
    grid-column: span 3;
  }
  .modal-grid-text-column {
    grid-column: span 5;
    max-width: none;
  }
  .modal-grid--with-media .modal-grid-text-column {
    grid-column: span 2;
  }
  .modal-grid-media-column .media,
  .modal-grid-media-column .video-container,
  .modal-grid-media-column img,
  .modal-grid-media-column video {
    height: 100% !important;
    object-fit: cover !important;
    aspect-ratio: auto !important;
  }
  .modal-grid-text-column {
    padding: 64px;
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1024px) {
  .modal--slider .gridy-track {
    grid-gap: calc((100% - var(--gutter) * 9)/10);
  }
}

.grid--hotspot {
  display: block !important;
  grid-template-columns: none !important;
  grid-auto-flow: unset !important;
  grid-column-gap: 0 !important;
  grid-row-gap: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}
.btn-map {
  color: #000 !important;
  font-weight: bold !important;
  border-radius: 50% !important;
  background-color: #f4f694 !important;
}

