.media-sliders {
  display: grid;
  gap: var(--gap);
}

.thumbnail-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.thumbnail-btn.active:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow:inset 0 0 0 2px var(--button-primary-background);
  border-radius: inherit;
}

@media only screen and (min-width: 768px) {
  .pdp-content .sticky {
    position: sticky;
    margin-top: 0;
    top: var(--sticky-header-margin-top);
  }

  .pdp-content .sticky {
    padding: 40px 0;
  }

  .thumbnails-next-to {
    grid-template-columns: 1fr 6fr;
  }

  .thumbnails-next-to .product-media-slider {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .thumbnails-next-to .product-thumbnails-slider {
    grid-row: 1;
    grid-column: 1 / 2;
  }

  .thumbnails-next-to .product-thumbnails-slider .gridy-track {
    grid: auto-flow calc((100% - var(--sm-gap)*4)/5) / auto;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.product__tax {
  margin-top: 4px;
}

.media--external_video.natural iframe {
  height: 100%;
  width: 100%;
}
.media--external_video.natural {
  aspect-ratio: 16 / 9;
}

@supports not (aspect-ratio: 16 / 9) {
  .media--external_video.natural iframe {
    position: absolute;
  }
  .media--external_video.natural {
    height: 0;
    padding-bottom: calc(100% / (16 / 9));
  }
}

.product-media .media:not(.natural) iframe {
  width: 300%;
  left: -100%;
  max-width: none;
}

[data-drawer] .accordion__content {
  padding: 0 var(--drawer-padding) var(--drawer-padding);
}

.similar-collections ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.similar-collections ul > li a {
  text-decoration: underline;
}

.preorder--info {
  font-size: 1.3rem;
  text-align: center;
}

.product-icons-grid {
  display: grid;
  grid-template-columns: repeat(var(--icons-grid-cols), minmax(0, 1fr));
  grid-gap: var(--icons-grid-gap);
  align-items: center;
}
.product-icons-grid__icon {
  width: 100%;
}

.sibling-product {
  padding: 8px;
  background: var(--primary-card-background);
  border-radius: min(var(--card-border-radius), 12px);
  transition: box-shadow 0.3s ease-in-out;
}
.sibling-product:hover {
  box-shadow: 0 0 0 2px var(--primary-card-foreground);
}
.sibling-product.current-product {
  background-color: var(--primary-foreground);
  border: 1px solid var(--primary-foreground);
}

/* CSS FOR NEW SLIDER */

@media (min-width: 768px) {
  .medium-up-hide-custom , .large-hide-custom {
   display: none; 
  }
  .small-hide-custom {
    display: block;
  }
}
@media (max-width: 768px) {
  .medium-up-hide-custom , .large-hide-custom {
   display: block; 
  }
  .small-hide-custom {
    display: none;
  }
  .swiper-start {
    width: 375px;
    height: 500px;
    position: relative;
    overflow: hidden;
  }
  .swiper-start .swiper-slide .media img,  .swiper-start .swiper-slide * {
    height: 100%;
    display: block;
}
.product-media.sm-br.small-hide, .product-media.sm-br.small-hide * {
    height: 100%;
}
.dots-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    width: 100%;
    bottom: 20px;
}
}